body
{
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    background-color: rgb(235, 235, 235);
}

header 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    letter-spacing: 10px;
}

#main_title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));

}

#members_github
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main_title h1
{
    font-size: 130px;
    font-weight: bold;
    margin: 0;
}

h1,h5,h2
{
    padding-top : 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

header h2
{
    font-size: 70px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0px;
}

header h5
{
    margin-bottom: -5px;
    color: #7C7A7A;
}

h5 a
{
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 1px;
    color: inherit;
}

nav
{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 0;
}

nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav li
{
    margin-left: 60px;
    margin-right: 60px;
}

nav a
{
    color: #949393;
    text-decoration: none;
    letter-spacing: 4px;
    margin-bottom: 0;
    padding-right: 0;
}

.button{
    position:relative;
}

.button:after
{
        position:absolute;
        top:100%;
        left:0%;
        width:0px;
        height:2px;
        background:black;
        display:block;
        content:'';
        transition: width 0.5s ease-in-out;
}

.button:hover:after
{
    width:100%;
}


footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

#logo_github:hover
{
    filter: drop-shadow(4px 4px 4px grey);
}
